@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: black;
  /* background-image: url("/images/Bkgrd2.png"); */
  /* background-repeat: no-repeat; */
}

.Body {
  margin-left: 78px;
}

/* #region category-section */

.category-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 60px;
  text-align: center;
  background-image: url("images/Bkgrd2.png");
}
.category-col {
  padding: 10px 0px;
  cursor: pointer;
  color: white;
}

.category-col img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: black;
}
h5 {
  font-weight: 800px;
  font-size: 15px;
}
.category-col h5:hover {
  color: #e5ff00;
  font-weight: 400px;
}
/* #endregion category-section */

/* #region banner section */
.banner {
  width: 100%;
  overflow: hidden;
  left: 0%;
  background-image: url("/Component_Images/banner4.jpg");
  background-position: 0%;
}
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.slider img {
  width: 100%;
  height: 100%;
}
@keyframes slide {
  0% {
    left: 0px;
  }
  26.66% {
    left: 0px;
  }
  33.33% {
    left: -1366px;
  }
  60% {
    left: -1366px;
  }
  66.66% {
    left: -2732px;
  }
  93.33% {
    left: -2732px;
  }

  100% {
    left: -4098px;
  }
}
/* #endregion banner section */

/* #region card-section */

.card {
  box-shadow: rgb(255, 255, 255) 0px 0px 5px 1px;
  padding: 10px 0px;
  /* margin: 10px 5px; */
  border: none;
  /* border-color: darkblue; */
  background-color: rgb(22, 22, 21);
}
.common-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  margin-top: 20px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}
.common-heading-left h1 {
  font-size: 25px;
  font-weight: 800;
  padding: auto;
  color: rgb(81, 255, 0);
}
.common-heading-left h2 {
  font-size: 15px;
  padding: 5px 0px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.common-heading-right button {
  width: 100px;
  height: 35px;
  font-size: 18px;
  background-color: #000000;
  border-radius: 20px;
  color: white;
}
.common-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-height: 366px;
  margin: 10px 0px;
}
.common-col {
  text-align: center;
  line-height: 22px;
}
.common-col img {
  width: 69px;
  height: 150px;
  transition: 300ms;
}
.common-col img:hover {
  transform: scale(0.9);
}
.common-col h3,
h4,
h6 {
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}
.common-col h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500px;
  color: white;
}
.common-col h4 {
  color: yellow;
  font-size: 14px;
  font-weight: 300;
}
.common-col h6 {
  color: rgb(0, 255, 55);
  font-size: 14px;
  font-weight: 400;
}
/* #endregion card-section */
